/* @import '../../node_modules/bulma/css/bulma.css'; */
@import 'bulma/css/bulma.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

#main {
  margin-top: 48px;
  padding: 2rem;
}